

:root {
    --main-color: #2e7ed9;
    --secondary-color: #84b0e1;
    --text-color: #1d4879;
    --secondary-text-color: #0f2742;
}

body {
    font-family: "Lucida Sans", Verdana, sans-serif;
    background-position: center;
    background-image: url("./images/travel.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;  
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  padding: 0;
  margin: 0;
}

header {
  background-color: #333;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
    background-color: #1a3c5f; 
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.social-links {
    width: 180px;
    height: 50px;
}

#search-btn {
    background-color: #84d1e1;
    color: var(--secondary-text-color);
    padding: 4px;
    border-radius: 8px;
    margin: 2px;
    font-family: 'Roboto';
    font-weight: 600;
}

#search-btn:hover {
    background-color: var(--secondary-text-color);
    color: #fff;
}

.inputWrapper {
    position: relative;
    display: inline-block;
}

.inputWrapper search-input {
    border: none;
    outline: none;
    padding: 10px;
    display: flex; 
    border-width: 0px;  
    padding-block: 1px;
    padding-inline: 2px;
    padding: 15px 40px 20px 20px
}

.inputWrapper img {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#clear-btn {
  background-color: #84d1e1;
    color: var(--secondary-text-color);
    padding: 4px;
    border-radius: 8px;
    margin: 2px;
    font-family: 'Roboto';
    font-weight: 600;
}

#clear-btn:hover {
    background-color: var(--secondary-text-color);
    color: #fff;
}

.searchForm {
    padding: 4px;
    border-radius: 8px;
    margin: 1px;
    font-family: Oswald, sans-serif;
    font-weight: 100;
    font-style: italic;
}

.company-name {
    float: left;
    color: #8ec57c;
    font-weight: bold;
    font-family: ui-sans-serif;
    font-size: 3rem;
    font-style: italic;
}

.topdiv {
    float: right;
}

.navigbar {
    color: var(--secondary-color);
    margin: 10px;
    font-size: 2rem;
    font-weight: normal;
    text-decoration: none;
    font-family: Oswald, sans-serif;
 /*   transition: color 0.3s ease; */
}

.navigbar:hover {
    color: #fff;
}


h1 {
    font-size: 40px;
    font-family: Oswald, sans-serif;
    justify-content: center;
    color: var(--secondary-text-color);
}

h2 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Oswald, sans-serif;
}

div.searchWrapper {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px;
  margin: 14px;
  border-radius: 25px;
}

.intro-section {
    justify-content: left;
    align-items: left;
    min-height: 100vh; /* Full screen height */
    text-align: left;
    padding-left: 20px;
    margin: 10px;
    color: white;
    
}

.container {
    padding: auto;
}

/* Home Section */

.home-section {
    display: flex;
    justify-content: left;
    flex-direction: row;
    min-height: 30vh; 
 /*   text-align: left; */
}

.home-content > h1 {
    font-size: 4rem;
    font-family: Oswald, sans-serif;
    justify-content: center;
    color: var(--secondary-text-color);
}

.home-content {
    max-width: 25%;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 30px;
    margin-left: 5%;
}

#home-text {
    font-size: 1.5rem;
    padding: 30px;
    color: blue;
    font-weight: bold;
}

#book-now {
    padding: 12px 24px;
    font-size: 18px;
    background-color: var(--text-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 /*   transition: background-color 0.3s ease; */
    margin-top: 20px;
}

#book-now:hover {
    background-color: var(--secondary-text-color);
}

/* About-Us Section */

.about-us-section {
    /*    display: flex; */
        justify-content: left;
        align-items: left;
        min-height: 40vh; 
        text-align: left;
        padding-left: 20px;
        margin: 20px;
        color: white;
        
}

.about-us-text {
    font-size: 1.5rem;
    padding: 20px;
    color:white;
    font-weight: bold;
    margin-right: 30%;
}


.about-us-content {
    max-width: 800px;
    width: 100%;
    flex-direction: row;
}

#about-us-h1 {
    margin-bottom: 20px;
}

strong {
    font-weight: 1000;
}

h2 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: Oswald, sans-serif;
    color: var(--secondary-text-color);
}

.team-info {
    margin-top: 40px;
}

.team-info > h1 {
    font-size: 4rem;
    font-family: Oswald, sans-serif;
    justify-content: center;
    color: var(--secondary-text-color);
    margin-left: 45%;
}

.team-whole-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}


.team-member {
background-color: rgba(0, 0, 0, 0.1);
border-radius: 8px;
padding: 20px;
display: flex;
width: 300px;
border: white 2px solid;
flex-direction: column;
}

 
.member-description {
    margin: 10px 0;
} 

.member-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--text-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.member-btn:hover {
    background-color: #111;
}

/* Contat Us Section */

.contact-section {
    /*    display: flex; */
        justify-content: left;
        align-items: left;
        min-height: 10vh; 
        text-align: left;
        padding-left: 20px;
        color: white;
        margin-left: 50%;
        margin-right: 20%;
        
}

.contact-section > h1 {
    font-size: 4rem;
    font-family: Oswald, sans-serif;
    justify-content: center;
    color: var(--secondary-text-color);
}

.contact-text {
    color: white;
    font-size: 2rem;
    line-height: 1.7;
    font-family: "Lucida Sans", Verdana, sans-serif;
    padding: 8px 0;
    max-width: 600px;
    margin-bottom: 50px;
  }
  .contact {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    margin-left: 40%;
    margin-right: 20%;
    font-size: 1.5rem;
  }
  .contact > form {
    display: flex;
    flex-direction: column;
    color:blue;
    gap: 8px;
    justify-content: space-between;
    padding: 10px;
  }
  .contact > form > input {
    padding: 6px;
    border: white 2px solid;
    border-radius: 4px;
    background-color: transparent;
  }
  .contact > form > textarea {
    padding: 6px;
    border: white 2px solid;
    border-radius: 4px;
    background-color: transparent;
  }
  .contact > form > button[type="submit"] {
    padding: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: blue;
    color: white;
    font-size: 2rem;
  }

submit:hover {
    background-color: var(--secondary-text-color);
}

#team-contact {
    padding: 10px 10px;
    font-size: 16px;
    background-color: var(--text-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex;
}

#team-contact:hover {
    background-color: var(--secondary-text-color);
}

/* Search */
#destination-text {
    color: #0f2742;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-style: italic;
}

/* Search icon section */
#searchIcon {
  display: flex;
  padding: 10px;
  text-align: center;
  align-items: center;
}

/* Search result */
#result {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    justify-content: center;
  }

#resultLabel {
    font-size: 3rem;
    font-family: Oswald, sans-serif;
    justify-content: center;
    color: var(--secondary-text-color);
  }

#errorLabel {
    font-size: 2.5rem;
    font-family: Oswald, sans-serif;
    justify-content: center;
    color: brown;
    margin-bottom: 80%;
  }

.resultCard {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    border: white 5px solid;
    margin-top: 20px;
  }
  .resultCard img {
    width: 100%;
  }
  .resultCard .cityName {
    color: black;
    font-size: 1.5rem;
    padding: 0px 10px;
    margin: 0px;
  }
  .resultCard .description {
    color: black;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Lucida Sans", Verdana, sans-serif;
    padding: 0px 10px;
    margin-bottom: 20px;
  }
  .resultCard .cardContent {
    padding: 8px;
  }

  /* .resultCard btn */

.visit {
  background-color: darkgreen;
  color: var(--secondary-text-color);
  padding: 20px;
  margin: 10px;
  border-radius: 10px; 
  font-family: 'Roboto';
  font-weight: 600;
  display: flex;
  flex-direction: row; 
  text-align: center;
  color: white;
}
  .resultCard .btn:hover {
    background: darkgreen;
    color: white;
  }
  
  